{
  "presets": ["@babel/preset-env"],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "6.10"
          },
          "modules": "umd"
        }]
      ],
      "plugins": [
        ["@babel/transform-runtime"]
      ],
    },
    "cjs": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "6.10"
          },
          "modules": "commonjs"
        }]
      ]
    },
    "browser": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "shippedProposals": true
          }
        ]
      ],
      "plugins": ["@babel/transform-runtime"]
    }
  }
}
